@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth
}

@layer components {
  #__next {
      @apply h-full flex flex-col;
  }
  html,
  body {
      @apply h-full;
  }
}